<form ng-submit='login()' novalidate role="form">
  <legend>Login</legend>

  <div class="form-group">
    <label for="">E-mail</label>
    <input class="form-control" id="" ng-model='user.email' placeholder="E-mail"  required type="text">
  </div>

  <div class="form-group">
    <label for="">Password</label>
    <input class="form-control" id="" ng-model='user.password' placeholder="Password..." required required type="password">
  </div>

  <button class="btn btn-primary" type="submit">Login</button>
</form>